.todo-lists {
  height: 100%;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .todo-lists {
    margin-bottom: 58px;
  }
}

.todo-empty {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-empty img {
  width: 140px;
}
