@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  background-color: #f1f1f1;

  font-family: "Poppins", sans-serif;
}

.App {
  max-width: 480px;
  min-height: calc(100vh - 100px);

  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

  margin-top: 50px;
  margin-bottom: 50px;

  border-radius: 10px;

  overflow: hidden;
}
